@import '_functions';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Gilroy;
}
a {
  text-decoration: none;
}
.container {
  max-width: rem(1320);
  padding: 0 rem(20);
  margin: 0 auto;
}
.swiper-pagination-bullets {
  display: flex;
  align-items: center;
  column-gap: rem(8);
}
.swiper-pagination-bullet {
  display: block;
  width: rem(8);
  height: rem(8);
  border-radius: 50%;
  background-color: #dadada;
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  width: rem(10);
  height: rem(10);
  background-color: #3b3937;
}
// @media (any-hover: hover) {
//   .swiper-slide-active:hover img{
//     transform: scale(1.2);
//     transition: 0.3s;
//   }
// }
